<div class="container">
    <div class="row">
        <section class="content">
            <div class="col-md-8 col-md-offset-2">
                <h1 style="text-align: center;">List of Movies</h1>
                <hr/>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="header">
                            Movie List
                        </div>
                        <div class="table-resposive">
                            <table class="table table-filter">
                                
                                <tbody>
                                   <tr>
                                       #
                                       <td>
                                           Movie Name
                                       </td>
                                        <td>
                                            Release Date
                                        </td>
                                        <td>
                                            Rating
                                        </td>
                                        <td>
                                            Description
                                        </td>
                                   </tr> 
                                    <tr *ngFor="let list of movieDetail;let i = index">
                                        <td>
                                            {{i + 1}}
                                        </td>
                                        <td>
                                            {{list.movieName}}
                                        </td>
                                        <td>
                                            {{list.dateOfRelease}}
                                        </td>
                                        <td appMyHighlighter>
                                            {{list.rating}}
                                        </td>
                                        <td>
                                            {{list.description}}
                                        </td>
                    
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>